@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    max-width: 1440px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

main {
    width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.btn-primary,
#feedback {
    background-color: white;
    padding: 18px 24px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.btn-secondary {
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 18px 24px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.learn-more-btn {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    /* margin: 10px 0; */
}

.dark-1 {
    color: #0D1321;
    opacity: 0.7;
}

section {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* nav styles */
nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}

nav ul li {
    list-style: none;
}

/* banner styles */
.banner-container {
    height: 650px;
    margin-top: 20px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 900px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    padding: 30px;
    margin-top: 30px;
}

.banner-description,
.section-description,
.challenge-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-icon {
    color: #FFFFFF;
}

/* Web development styles */

.challenge-container {
    border: 2px solid yellow;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 24px;
}

#challenge-1,
#challenge-3 {
    box-shadow: 5px 0px 7px rgb(0, 0, 0, 0.3);
}

#challenge-2 {
    box-shadow: -5px 0 7px rgb(0, 0, 0, 0.3);
}

.challenge-content {
    width: 500px;
    padding: 20px;
}

.challenge-img {
    width: 270px;
    padding: 10px;
}

/* inspiration styles */

.video-content {
    width: 920px;
    margin: 0 auto;
    border: 2px outset;
    border-radius: 10px;
    padding: 20px;
}

.video-content iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

/* target styles */
.targets-container {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    /* border: 2px solid blue; */
}

.target-item {
    padding: 20px;
    border-radius: 10px;
}

.item {
    width: 56px;
    height: 56px;
    margin-bottom: 10px;

}

.more {
    border-bottom: 2px solid;
}

#html {
    background-color: #e1a183;
}

#css {
    background-color: #7695c2;
}

#js {
    background-color: #ddcf75;
}

/* support styles */
.support-container {
    width: 940px;
    height: 315px;
    margin: 0 auto;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 10px;
}

.support-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#feedback {
    width: 500px;
}

/* footer styles */
footer {
    background-color: rgba(224, 219, 219, 0.91);
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
}

.footer-section {
    width: 940px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}